
/* General Setting */
a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}


/* mainHeader.jsp */
header.header {
	border: 1px solid red;
	height:100px;
	display: flex;
	position: relative;
	line-height: 100px;
}

.header a {
	margin: 0 auto;
}

.header a .default {
	width: 300px;
}

.header a .show{
	width: 100px;
	display: none;
}

@media (max-width: 768px) {
	.header a {
		margin: 0;
	}
	.page-title{
	display: none;
}

}

@media (max-width: 500px) {
	.header a .show{
		display: block;
	}
	.header a .default{
		display: none;
	}
}

/* header.jsp */
.common-logo {
	width: 100px;
	vertical-align: none;
	position: absolute;
	left: 100px;
}

.page-title {
	position: absolute;
	left: 50%;
	font-weight: bold;
	font-size: 35px;
}


.user-log {
	display: flex;
	position: absolute;
	right: 0;
	bottom: -45px;
}

.user-log li {
	margin: 0 10px;
	padding-top: 80px;
}

.user-log li a {
	text-decoration: none;
	font-size: 20px;
}

.form-signin {
    max-width: 400px;
    padding: 100px 15px 200px;
}

.form-control {
	margin: 20px 0;
}

.btn.loginBtn {
	margin-top: 50px;
}

