<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.pedia.beach.user.mapper.IUserMapper">
    
    	<resultMap type="user" id="userMap">
    		<result property="userId" column="user_id" />
    		<result property="userPw" column="user_pw" />
			<result property="userName" column="user_name" />
			<result property="userNick" column="user_nick" />
			<result property="userEmail1" column="user_email1" />
			<result property="userEmail2" column="user_email2" />
			<collection property="blogList" resultMap="list"/>
		</resultMap>
		
		<!-- collection에 들어갈 객체가 어떤 식으로 포장 될 지를 명시해 주는 resultMap -->
		<resultMap type="blog" id="list">
			<id property="blogNo" column="blog_no" />
			<result property="comment" column="comment" />
			<result property="regDate" column="reg_date" />
		</resultMap>
		
    	<!-- 회원가입 -->
    	<insert id="join">
    		INSERT INTO users
    		(user_id, user_pw, user_name, user_email1, user_email2)
    		VALUES(#{userId}, #{userPw}, #{userName}, #{userEmail1}, #{userEmail2})
    	</insert>
    	
    	<!-- ID 체크 -->
    	<select id="idCheck" resultType="int">
    		SELECT COUNT(*)
    		FROM users
    		WHERE user_id = #{userId}
    	</select>
    	
 		<!-- 로그인 -->
 		<select id="login" resultType="string">
 			SELECT user_pw FROM users
 			WHERE user_id = #{userId}
 		</select>
 		
 		<select id="getUser" resultType="user">
		SELECT user_id, user_name, user_nick,
			user_email1, user_email2
		 FROM users 
		 WHERE user_id = #{userId}
		</select>
 		
 		<!-- 유저정보 가져오기 -->
 		<select id="getInfo" resultMap="userMap">
 			SELECT u.user_id, user_name, user_nick, user_email1, user_email2, b.blog_no, b.comment, b.reg_date
 			FROM users u
 			LEFT JOIN blogs b
 			ON u.user_id = b.writer
 			WHERE u.user_id = #{userId}
 			ORDER BY b.blog_no DESC
 			LIMIT #{paging.pageStart}, #{paging.cpp}
 		</select>
   
    
    </mapper>